#masthead {
  position: relative;
  height: 60px;
  z-index: 1;

  .burger {
    display: none;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
  }

  .custom-logo-link {
    display: inline-block;
    vertical-align: middle;
    padding: 0.5em 0 0 0.5em;
    height: 100%;

    img {
      width: auto;
      height: auto;
      max-height: 90%;
      top: 5%;
    }
  }

  .social {
    display: inline-block;
    vertical-align: middle;

    .icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5em;

      &:last-of-type {
        margin-right: 0;
      }

      img {
        width: auto;
        height: auto;
        max-width: 20px;
        max-height: 20px;
        vertical-align: middle;
      }
    }

    &.desktop {
      float: right;
      right: 0.5em;
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
    }

    &.mobile {
      display: none;
    }
  }

  nav {
    display: inline-block;

    .menu-primary-menu-container {
      display: inline-block;
      vertical-align: middle;

      ul {
        display: inline-block;
        list-style-type: none;
        padding: 0 0 0 2em;
        margin: 0;

        li {
          display: inline-block;
          margin-right: 2em;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #masthead {
    .social {
      &.desktop {
        display: none;
      }
      &.mobile {
        display: block;
      }
    }
    nav {
      display: none;
    }
    .burger {
      display: inline;
    }
    &.active {
      nav {
        display: inline-block;
      }
    }
  }
}
