#masthead {
  position: relative;

  .burger {
    display: none;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
  }

  .custom-logo-link {
    display: inline-block;
    vertical-align: middle;
    padding: 0.5em 0 0 0.5em;

    img {
      width: auto;
      height: auto;
      max-width: 60px;
      max-height: 60px;
    }
  }

  nav {
    display: inline-block;

    .menu-primary-menu-container {
      display: inline-block;
      vertical-align: middle;

      ul {
        display: inline-block;
        list-style-type: none;
        padding: 0 0 0 2em;
        margin: 0;

        li {
          display: inline-block;
          margin-right: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #masthead {
    nav {
      display: none;
    }
    .burger {
      display: inline;
    }
    &.active {
      nav {
        display: inline-block;
      }
    }
  }
}
