$om_red: rgba(255,0,0,1);
$om_red_dark: rgba(155,0,0,1);

body {
  font-family: 'Helvetica neue', arial;

  #page {
    min-height: 100vh;
  }

  &.admin-bar {
    #page {
      min-height: calc(100vh - 32px);
    }
  }
}

@import "global";
@import "nav";
@import "home";
